.sites::before{
    content: "";
    position: absolute;
    bottom: -530px;
    left: 20%;
    width: 400px;
    height: 3px;
    background: linear-gradient(to right, blue, red, orange, blue, green, red);
    transform: translateX(-50%);
}
.sites::after {
    content: 'Children & Websites';
    position: absolute;
    bottom: -537px;
    left: 20%;
   padding: 5px;
   font-size: 20px;
   color: #111;
    background:  rgb(45 212 191);
    transform: translateX(-50%);
}
.apps::before{
    content: "";
    position: absolute;
    bottom: -1070px;
    left: 20%;
    width: 400px;
    height: 3px;
    background: linear-gradient(to right, blue, red, orange, blue, green, red);
    transform: translateX(-50%);
}
.apps::after {
    content: 'Children & Apps';
    position: absolute;
    bottom: -1077px;
    left: 20%;
   padding: 5px;
   font-size: 20px;
   color: #111;
    background: rgb(6 182 212);
    transform: translateX(-50%);
}
.ai::before{
    content: "";
    position: absolute;
    bottom: -1570px;
    left: 15%;
    width: 300px;
    height: 3px;
    background: linear-gradient(to right, blue, red, orange, blue, green, red);
    transform: translateX(-50%);
}
.ai::after {
    content: 'Children & AI';
    position: absolute;
    bottom: -1577px;
    left: 15%;
   padding: 5px;
   font-size: 20px;
   color: #111;
    background: rgb(45 212 191);
    transform: translateX(-50%);
}
.brains::before{
    content: "";
    position: absolute;
    bottom: -1970px;
    left: 18%;
    width: 400px;
    height: 3px;
    background: linear-gradient(to right, blue, red, orange, blue, green, red);
    transform: translateX(-50%);
}
.brains::after {
    content: 'Google & brains';
    position: absolute;
    bottom: -1977px;
    left: 18%;
   padding: 5px;
   font-size: 20px;
   color: #111;
    background: rgb(6 182 212);
    transform: translateX(-50%);
}
.impact::before{
    content: "";
    position: absolute;
    bottom: -2490px;
    left: 18%;
    width: 400px;
    height: 3px;
    background: linear-gradient(to right, blue, red, orange, blue, green, red);
    transform: translateX(-50%);
}
.impact::after {
    content: 'General Impact';
    position: absolute;
    bottom: -2497px;
    left: 19%;
   padding: 5px;
   font-size: 20px;
   color: #111;
    background: rgb(45 212 191);
    transform: translateX(-50%);
}
@media (max-width: 690px){
    .sites::before{
        content: "";
        position: absolute;
        bottom: -690px;
        left: 37%;
        width: 250px;
        height: 3px;
        background: linear-gradient(to right, blue, red, orange, blue, green, red);
        transform: translateX(-50%);
    }
    .sites::after {
        content: 'Children & Websites';
        position: absolute;
        bottom: -697px;
        left: 37%;
       padding: 5px;
       font-size: 20px;
       color: #111;
        background:  rgb(45 212 191);
        transform: translateX(-50%);
    }
    .apps::before{
        content: "";
        position: absolute;
        bottom: -1270px;
        left: 30%;
        width: 200px;
        height: 3px;
        background: linear-gradient(to right, blue, red, orange, blue, green, red);
        transform: translateX(-50%);
    }
    .apps::after {
        content: 'Children & Apps';
        position: absolute;
        bottom: -1277px;
        left: 30%;
       padding: 5px;
       font-size: 20px;
       color: #111;
        background: rgb(6 182 212);
        transform: translateX(-50%);
}
.ai::before{
    content: "";
    position: absolute;
    bottom: -1830px;
    left: 20%;
    width: 200px;
    height: 3px;
    background: linear-gradient(to right, blue, red, orange, blue, green, red);
    transform: translateX(-50%);
}
.ai::after {
    content: 'Children & AI';
    position: absolute;
    bottom: -1837px;
    left: 20%;
   padding: 5px;
   font-size: 20px;
   color: #111;
    background: rgb(45 212 191);
    transform: translateX(-50%);
}
.brains::before{
    content: "";
    position: absolute;
    bottom: -2590px;
    left: 28%;
    width: 200px;
    height: 3px;
    background: linear-gradient(to right, blue, red, orange, blue, green, red);
    transform: translateX(-50%);
}
.brains::after {
    content: 'Google & brains';
    position: absolute;
    bottom: -2597px;
    left: 28%;
   padding: 5px;
   font-size: 20px;
   color: #111;
    background: rgb(6 182 212);
    transform: translateX(-50%);
}
.impact::before{
    content: "";
    position: absolute;
    bottom: -3340px;
    left: 30%;
    width: 200px;
    height: 3px;
    background: linear-gradient(to right, blue, red, orange, blue, green, red);
    transform: translateX(-50%);
}
.impact::after {
    content: 'General Impact';
    position: absolute;
    bottom: -3347px;
    left: 30%;
   padding: 5px;
   font-size: 20px;
   color: #111;
    background: rgb(45 212 191);
    transform: translateX(-50%);
}
}
@media (max-width: 400px){
    .sites::before{
        content: "";
        position: absolute;
        bottom: -600px;
        left: 37%;
        width: 250px;
        height: 3px;
        background: linear-gradient(to right, blue, red, orange, blue, green, red);
        transform: translateX(-50%);
    }
    .sites::after {
        content: 'Children & Websites';
        position: absolute;
        bottom: -607px;
        left: 37%;
       padding: 5px;
       font-size: 20px;
       color: #111;
        background:  rgb(45 212 191);
        transform: translateX(-50%);
    }
    .apps::before{
        content: "";
        position: absolute;
        bottom: -1230px;
        left: 30%;
        width: 200px;
        height: 3px;
        background: linear-gradient(to right, blue, red, orange, blue, green, red);
        transform: translateX(-50%);
    }
    .apps::after {
        content: 'Children & Apps';
        position: absolute;
        bottom: -1237px;
        left: 30%;
       padding: 5px;
       font-size: 20px;
       color: #111;
        background: rgb(6 182 212);
        transform: translateX(-50%);
}
.ai::before{
    content: "";
    position: absolute;
    bottom: -1920px;
    left: 20%;
    width: 200px;
    height: 3px;
    background: linear-gradient(to right, blue, red, orange, blue, green, red);
    transform: translateX(-50%);
}
.ai::after {
    content: 'Children & AI';
    position: absolute;
    bottom: -1927px;
    left: 20%;
   padding: 5px;
   font-size: 20px;
   color: #111;
    background: rgb(45 212 191);
    transform: translateX(-50%);
}
.brains::before{
    content: "";
    position: absolute;
    bottom: -2800px;
    left: 28%;
    width: 200px;
    height: 3px;
    background: linear-gradient(to right, blue, red, orange, blue, green, red);
    transform: translateX(-50%);
}
.brains::after {
    content: 'Google & brains';
    position: absolute;
    bottom: -2807px;
    left: 28%;
   padding: 5px;
   font-size: 20px;
   color: #111;
    background: rgb(6 182 212);
    transform: translateX(-50%);
}
.impact::before{
    content: "";
    position: absolute;
    bottom: -3650px;
    left: 30%;
    width: 200px;
    height: 3px;
    background: linear-gradient(to right, blue, red, orange, blue, green, red);
    transform: translateX(-50%);
}
.impact::after {
    content: 'General Impact';
    position: absolute;
    bottom: -3657px;
    left: 30%;
   padding: 5px;
   font-size: 20px;
   color: #111;
    background: rgb(45 212 191);
    transform: translateX(-50%);
}
}
